@page "/booklet"

<PageTitle>Test Page</PageTitle>

<h1> WELCOME TO LSU COURSE SCHEDULING</h1>
<style>
	h1	{ 
		font-size: 1.5em;
		color: purple;
		text-align: center;
		}
</style>
<p>*explanation on how to use website*</p>

<h2>*schedule booklet link*</h2>
<h2>*link to personal website</h2>
<h2>*Table with dropdown menus*</h2>
<h2>*Interactive Panels are a Work In Progress*</h2>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
