@page "/ClassData"
@using System
@using Microsoft.AspNetCore
@using RecksWebservice.Data
@using System.Diagnostics;
@using RecksWebservice.Types;
@using System.Collections.Generic
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data
@using static RecksWebservice.Types.ScheduleFiller;
<style>
	h3 {
		font-family: Cambria;
		font-weight: bold;
		text-align: center;
		color: #461D7C;
	}

	.buttons {
		background-color: #461D7C;
		color: white;
		border: none;
		font-family: Cambria;
	}
</style>

<h3>Class Scheduler</h3>

<button class="buttons">Add Class</button>
<br/>
<button class="buttons">Remove Class</button>
<br/>
<button class="buttons">Edit Class</button>

<div align="right" class="col-lg-12 control-section">
	<SfGrid DataSource="@calTest">
		<GridColumns>
			<GridColumn Field="@nameof(OrganizedCalendar.Time)" HeaderText="Time"
				TextAlign="TextAlign.Left" Width="25">
			</GridColumn>
			<GridColumn  HeaderText="Monday"
						TextAlign="TextAlign.Left" Width="50">
			</GridColumn>
			<GridColumn  HeaderText="Tuesday"
				TextAlign="TextAlign.Left" Width="50">
			</GridColumn>
			<GridColumn  HeaderText="Wednesday"
						TextAlign="TextAlign.Left" Width="50">
			</GridColumn>
			<GridColumn  HeaderText="Thursday"
						TextAlign="TextAlign.Left" Width="50">
			</GridColumn>
			<GridColumn  HeaderText="Friday"
						TextAlign="TextAlign.Left" Width="50">
			</GridColumn>
		</GridColumns>
	</SfGrid>
</div>

<br/>

@code {
	public View CurrentView { get; set; } = View.Week;
	private DateTime CurrentDate { get; set; }
	public List<OrganizedCalendar> calTest = new ScheduleFiller().GetCalendar();

	private List<Class> classes { get; set; }
	protected override void OnInitialized()
	{
		base.OnInitialized();
		CurrentDate = DateTime.Today;

	}
	
	public List<Class> CompareClasses()
	{
		List<Class> conflictingClasses = new List<Class>();
		//for (int i = 0; i < classes.Count - 1; i++)
		//{
		//	for (int j = i + 1; j < classes.Count; j++)
		//	{
		//		if (classes[i].StartTime < classes[j].EndTime && classes[j].StartTime < classes[i].EndTime)
		//		{
		//			conflictingClasses.Add(classes[i]);
		//			conflictingClasses.Add(classes[j]);
		//		}
		//	}
		//}
		return conflictingClasses;
	}

	public void ReportConflictingClasses(List<Class> conflictingClasses)
	{
		foreach (Class classObj in conflictingClasses)
		{
			Debug.WriteLine("Conflicting class: " + classObj.GetClassName());
		}
	}

	//public void SubmitClasses(Class classObj)
	//{
	//	classes.Add(classObj);
	//		{
	//			Id = int.Parse(classObj.GetClassID()),
	//			Subject = classObj.GetClassName(),
	//			//StartTime = classObj.GetStartTime(), //StartTime has Mistranslation when read in code
	//			//EndTime = classObj.EndTime, //EndTime has Mistranslation when read in code
	//			CategoryColor = classObj.GetColor(),
	//		};
	//	//test.Add(appointment);
	//}
	//public void OnEventRendered(EventRenderedArgs<AppointmentData> args)
	//{
	//	Dictionary<string, object> attributes = new Dictionary<string, object>();
	//	if (CurrentView == View.Agenda)
	//	{
	//		attributes.Add("style", "border-left-color: " + args.Data.CategoryColor);
	//	}
	//	else
	//	{
	//		attributes.Add("style", "background: " + args.Data.CategoryColor);
	//	}
	//	args.Attributes = attributes;
	//}

	
}
