@page "/"

<PageTitle>Index</PageTitle>

<h1>
	WELCOME TO THE NEW LSU SCHEDULE MANAGEMENT PROGRAM
</h1>
<h4>
	(Prototype)
</h4>

<style>
	body {
		align-content: center;
	}

	.col-md-12 {
		align-content: center;
	}

	h1 {
		font-size: 1.5em;
		color: purple;
		text-align: center;
		font-weight: bold;
	}

	h4 {
		text-align: center;
	}

	.description {
		font-style: italic;
	}

	.credits {
		font-weight: bold;
	}
</style>

<p class="credits">
	Created by:
	<br/>
	<span style="color:#ff0000;background-color:black;">Elias Shalohm</span>
	<br/>
	<span style="color: darkorange;background-color:black;">Seif Sultan</span>
	<br/>
	<span style="color: yellow;background-color:black;">Kyle Jeffeson</span>
	<br/>
	<span style="color: green;background-color:black;">Cameron Olivier</span>
	<br/>
	<span style="color: cyan;background-color:black;">Rayhoar Ebrahim</span>
	<br/>
	<span style="color: dodgerblue;background-color:black;">Donald Saulny</span>
	<div>
		-The Reckz
		<img src="images/wreckIcon.png" />
	</div>
</p>
<div>
	<p class="description">
		This program is designed to be a university group project meant to propose an alterate design for
		the Louisiana State University class schedule booklet. For navigation, use the index panel on the
		left-hand-side of the screen.

		Within the scheduler, pick a semester and department firsthand before selecting a class from the class-dropdown-list;
		clicking "Add Class" to add it to the schedule. If a class needs to be removed, select a class from the user's-classes
		dropdown list and click "Remove Class".
	</p>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />
*@