@using RecksWebservice.Types
@using RecksWebservice.Pages
@using RecksWebservice.Data
@using System.Diagnostics
@using System.Reflection
@using System.Runtime.ExceptionServices
@using System.Runtime.InteropServices
@using HtmlAgilityPack;
@using System.Collections.Generic
@using System.Net.Http;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.WebUtilities;
@inject RMPDataHandler RMPData
@inject ClassDataHandler classDataHandler  


@page "/rmp-data-page"

<h3>RMP Data Page</h3>

<div>
    <button @onclick="GetProfessorData">Get Professor Data</button>

    <p>Professor Name: @professorName</p>
    <p>Class Name: @className</p>
    <p>Rating: @rating</p>
    <p>Number of Ratings: @numRatings</p>
</div>

@code {
    private RMPDataHandler rmpDataHandler = new RMPDataHandler();
    private string selectedSubject;
    private string selectedProfessor;
    private string professorName;
    private string className;
    private int rating;
    private string numRatings;

    private async Task GetProfessorData()
    {
        await rmpDataHandler.GetProfessorData(selectedProfessor, className);
        professorName = selectedProfessor;
        rating = rmpDataHandler.GetProfessorRating();
        //numRatings = rmpDataHandler.GetNumRatings();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => classDataHandler.GetBookletData());
    }
  }
