@page "/testpage2"

@inject HttpClient Http

<h3>TestPage2</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        <td>@forecasts</td>
        </tbody>
    </table>


@code {
    private String forecasts;
    private static readonly HttpClient client = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        var values = new Dictionary<string, string>
        {
            { "%%Surrogate_SemesterDesc","1"},
            { "SemesterDesc", "Spring 2022" },
            {"%%Surrogate_Department", "1"},
            { "Department", "ACCOUNTING" }
        };
        forecasts = "hello3";
        var content = new FormUrlEncodedContent(values);
        forecasts = "hello2";
        var response = await client.PostAsync("http://appl101.lsu.edu/booklet2.nsf/f5e6e50d1d1d05c4862584410071cd2e?CreateDocument", content);

        forecasts = "hello";
        forecasts = await response.Content.ReadAsStringAsync();
    }
}